body{
    font-family: 'Open Sans', sans-serif;
    color: rgb(71, 71, 71);
}

/* NAVBAR */

header{
    height: 64px;
    margin: 0 24px;
}

header h1{
    display: inline;
    font-size: 32px;
    margin: 20px 20px;
    vertical-align: middle;
}

ul{
    display: inline;
    float: right;
}

li{
    display: inline;
    list-style-type: none;
    margin: 20px 16px;
    vertical-align: middle;
}

.logo{
    display: inline-block;
    margin: 15px;
    vertical-align: middle;
}

/* HERO SECTION */

.hero{
    width: 100%;
    background-color: lightgray;
    align-items: center;
}

.hero img{
    width: 60%;
    margin: 32px 24px;
    display: inline-block;
    vertical-align: middle;
}

.hero-text{
    display: inline-block;
    width: 30%;
    color: rgb(71, 71, 71);
    vertical-align: middle;

}

#start-here{
    padding: 8px;
    width: 100%;
    background-color: rgb(71, 71, 71);
    color: white;
    border: 0px;
}

/* INFORMATION SECTION  */

.information .container-big{
    width: 60%;
    display: inline-block;
}

.information .container-big img{
    width: 100%;
}

.info-big{
    margin: 32px 24px;
}

.information .container-small{
    display: inline-block;
    width: 39%;
}

.information .card .container{
    margin: 16px;
    display: inline-block;
}

.information .card img{
    width: 35%;
    display: inline-block;
}

.information .card .text{
    width: 63%;
    display: inline-block;
}

/* START LEARNING SECTION */


.start-learning{
    background-color: rgb(222, 221, 221);
}

.start-learning .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.start-learning img{
    width: 100%;
} */
