body{
    font-family: sans-serif;

}

/* NAVBAR */

header{
    height: 64px;
    margin: 0 24px;
}

header h1{
    display: inline;
    font-size: 32px;
    margin: 20px 20px;
    vertical-align: middle;
}

ul{
    display: inline;
    float: right;
}

li{
    display: inline;
    list-style-type: none;
    margin: 20px 16px;
    vertical-align: middle;
}

.logo{
    display: inline-block;
    margin: 15px;
    vertical-align: middle;
}

/* HERO SECTION */

.hero{
    width: 100%;
    background-color: lightgray;
    align-items: center;
}

.hero img{
    width: 60%;
    margin: 32px 24px;
    display: inline-block;
    vertical-align: middle;
}

.hero-text{
    display: inline-block;
    width: 30%;
    color: rgb(71, 71, 71);
    vertical-align: middle;

}

#start-here{
    padding: 8px;
    width: 100%;
    background-color: rgb(71, 71, 71);
    color: white;
    border: 0px;
}

/* INFORMATION SECTION  */

.info-container-big{
    width: 60%;
    display: inline-block;
}

.info-big-image{
    margin: 32px 24px;
}

.info-container-big img{
    width: 100%;
}

.info-container-small{
    display: inline-block;
    width: 39%;
}

.card img{
    width: 35%;
    display: inline-block;
}

.card .text{
    width: 63%;
    display: inline-block;
}